*,
*::after,
*::before{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }

  label{
    font-size: 1.1rem;
  }
  input{
    font-size: 1.2rem;
  }
  h3{
      font-size: 1.75rem;
  }
  p{
    font-size: 1.25rem;
  }

  .stripe-button-el{
    width:20rem;
  }
  /*Scrollbar Styles*/

  /* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4091f4;
  }
  
  

